.image,
img {
  display: block;
  height: 120px;
  width: 120px;
  background-color: blue;
}

.pokeInfo {
  width: 50%;
  display: flex;
  margin-left: 5%;
}
.pokeData {
  width: 100%;
  padding-left: 5%;
  padding-right: 10%;
}

.base {
  display: flex;
  justify-content: space-between;
}
